# main repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# project repository
# (uncomment the following two lines after uploading your project)
darcs /projects/SkeensBox http://openengine.dk/code/projects/SkeensBox
darcs-dev /projects/SkeensBox fh.daimi.au.dk:/users/cgd/code/projects/SkeensBox

# required extensions
# dist style
dist /extensions/ActionMappers/ActionMappers.dist http://openengine.dk/code/extensions/ActionMappers/ActionMappers.dist
dist /extensions/SetupHelpers/SetupHelpers.dist http://openengine.dk/code/extensions/SetupHelpers/SetupHelpers.dist
dist /extensions/CairoResource/CairoResource.dist http://openengine.dk/code/extensions/CairoResource/CairoResource.dist
dist /extensions/HeightMap/HeightMap.dist http://openengine.dk/code/extensions/HeightMap/HeightMap.dist
dist /extensions/TexUtils/TexUtils.dist http://openengine.dk/code/extensions/TexUtils/TexUtils.dist
dist /extensions/Assimp/Assimp.dist               http://www.openengine.dk/code/extensions/Assimp/Assimp.dist
dist /extensions/RBPhysics/RBPhysics.dist               http://www.openengine.dk/code/extensions/RBPhysics/RBPhysics.dist
dist /extensions/BagContainer/BagContainer.dist http://openengine.dk/code/extensions/BagContainer/BagContainer.dist
dist /extensions/TGAResource/TGAResource.dist http://openengine.dk/code/extensions/TGAResource/TGAResource.dist
dist /extensions/MeshUtils/MeshUtils.dist http://openengine.dk/code/extensions/MeshUtils/MeshUtils.dist
dist /extensions/OpenGLSelection/OpenGLSelection.dist http://openengine.dk/code/extensions/OpenGLSelection/OpenGLSelection.dist
dist /extensions/GenericHandlers/GenericHandlers.dist http://openengine.dk/code/extensions/GenericHandlers/GenericHandlers.dist

# Get data
any /projects/SkeensBox/data	http://www.openengine.dk/data/projects/SkeensBox/data.zip

