# main repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# project repository
# (uncomment the following two lines after uploading your project)
darcs /projects/SkeensBox http://openengine.dk/code/projects/SkeensBox
darcs-dev /projects/SkeensBox fh.daimi.au.dk:/users/cgd/code/projects/SkeensBox

# required extensions
# dist style
dist /extensions/ActionMappers/ActionMappers.dist http://openengine.dk/code/extensions/ActionMappers/ActionMappers.dist
dist /extensions/SetupHelpers/SetupHelpers.dist http://openengine.dk/code/extensions/SetupHelpers/SetupHelpers.dist
dist /extensions/CairoResource/CairoResource.dist http://openengine.dk/code/extensions/CairoResource/CairoResource.dist
dist /extensions/HeightMap/HeightMap.dist http://openengine.dk/code/extensions/HeightMap/HeightMap.dist
dist /extensions/TexUtils/TexUtils.dist http://openengine.dk/code/extensions/TexUtils/TexUtils.dist

# old style
darcs /extensions/TGAResource            http://openengine.dk/code/extensions/TGAResource
darcs /extensions/MeshUtils              http://openengine.dk/code/extensions/MeshUtils
darcs /extensions/OpenGLSelection        http://openengine.dk/code/extensions/OpenGLSelection

darcs-dev /extensions/TGAResource            fh.daimi.au.dk:/users/cgd/code/extensions/TGAResource
darcs-dev /extensions/MeshUtils              fh.daimi.au.dk:/users/cgd/code/extensions/MeshUtils
darcs-dev /extensions/OpenGLSelection              fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLSelection

# Get data
any /projects/SkeensBox/data	http://www.openengine.dk/data/projects/SkeensBox/data.zip
